#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bg {
  background-image: url(../src/img/image.jpg);
}

@media screen and (max-width: 768px) {
  h1Nav {
    font-size: 3rem;
  }
  
}

.chakra-menu__menuitem {
  color: #000;
}